<template name = "diagnosis">
	<div class="well bs-component">
	<div class="row">
		<div class = "col-md-12 text-left">
			<h3> Диагностика </h3>
			<h4>{{fio}}</h4>
			<h4>Пол:{{gender}}</h4>
			<h4>Возраст:{{age}}</h4>
			 <a href="{{pathFor 'csv' patientId=this.patientIdStr}}">Скачать в CSV</a>
		</div>
	</div>
	<div class = "row" >
		<div class = "col-md-12">
			<table class = "table table-striped table-hover">
				<thead>
					<tr>
					<th class = "col-md-2" > Дата обновления </th>
					<th class = "col-md-2" > Оба </th>
					<th class = "col-md-2" > Левый </th>
					<th class = "col-md-2"> Правый </th>
					<th class = "col-md-2"> Освещенность </th>
					<th class = "col-md-2"> Начальная дистанция </th>
					</tr>
				</thead>
				<tbody>
					{{#each diagnosisList}}
						<tr class="table_line">
							<td class="col-md-2">{{date_update}}</td>
							<td class="col-md-2">{{diagnosis_data.testResult.both}}</td>
							<td class="col-md-2">{{diagnosis_data.testResult.left}}</td>
							<td class="col-md-2">{{diagnosis_data.testResult.right}}</td>
							<td class="col-md-2">{{diagnosis_data.lux}}</td>
							<td class="col-md-2">{{diagnosis_data.startDistance}}</td>
						</tr>
					{{else}}
					Записей нет
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
</template>