<template  name = 'authorizationForm'>
  <div class = "container">
    <div class = "row vertical-offset-100">
      <div class = "col-md-12">
        <div class="well bs-component">
          {{#autoForm schema = "Schems.authorization" id = "authorizationForm" class = 'form-signin' }}
          <div class="form-group{{#if afFieldIsInvalid name='email'}} has-error{{/if}}">
            {{> afFieldInput name='email' id = 'email' placeholder = 'Email' }} 
            {{#if afFieldIsInvalid name='email'}}
            <span class="help-block">{{afFieldMessage name='email'}}</span>
            {{/if}}
          </div>

          <div class="form-group{{#if afFieldIsInvalid name='password'}} has-error{{/if}}">
            {{> afFieldInput name='password' id = 'password' type = 'password' placeholder = 'Password' }}        
            {{#if afFieldIsInvalid name='password'}}
            <span class="help-block">{{afFieldMessage name='password'}}</span>
            {{/if}}
          </div>
<!-- 
          <div class="checkbox">
            <label>
              <input type="checkbox" id="remember-me-pass"> Запомнить меня
            </label>
          </div> -->

          <div class="form-group">
            <button class="btn btn-primary btn-block"  type="submit">Войти</button>
          </div>
          <h5> {{message}} </h5>
          <a id = 'forgotPsw' href ='/forgotPassword'> Я забыл пароль </a><br>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>