 <template name = "forgotPassword">
   <div class = "container">
    <div class = "row vertical-offset-100">
      <div class = "col-md-12">
        <div class="well bs-component">
         {{#autoForm schema = "Schems.forgotPassword" id = "formPassRecov" class = 'form-signin' }}
          <h2 class="form-signin-heading">Восстановление пароля</h2>
          На ваш email будет отправлено письмо с инструкцией во восстановлению пароля
          <div class="form-group{{#if afFieldIsInvalid name='email'}} has-error{{/if}}">
            {{> afFieldInput name='email' id = 'email' type = 'email' placeholder = 'email' }}        
            {{#if afFieldIsInvalid name='email'}}
            <span class="help-block">{{afFieldMessage name='email'}}</span>
            {{/if}}
          </div>
          <div class="form-group">
            <button type = "submit" class="btn  btn-primary btn-block">Восстановить</button>
          </div>
          <h5> {{message}} </h5>
          <a href = '/'> Я вспомнил пароль </a>
         {{/autoForm}}
      </div>
    </div>
  </div>
</div>
</template>