<template name = "employeeAdd">
	<div class = "row">
		<div class = "col-md-12">
			<div class="well bs-component">
				{{#autoForm schema = "Schems.employee" id = "insertEmployeeForm" type = "method" meteormethod = "insertEmployee" class="form-horizontal" clinicId=this }}
				<fieldset>
					<legend> Новый сотрудник </legend>
					<div class="form-group{{#if afFieldIsInvalid name='profile.last_name'}} has-error{{/if}}">
						<label for="last_name" class="col-md-2 control-label">Фамилия:</label>
						<div class="col-md-10">
							{{> afFieldInput name='profile.last_name' id = 'last_name' }} 
							{{#if afFieldIsInvalid name='profile.last_name'}}
							<span class="help-block">{{afFieldMessage name='profile.last_name'}}</span>
							{{/if}}
						</div>
					</div>
					<div class="form-group{{#if afFieldIsInvalid name='profile.first_name'}} has-error{{/if}}">
						<label for="first_name" class="col-md-2 control-label">Имя:</label>
						<div class="col-md-10">
							{{> afFieldInput name='profile.first_name' id = 'first_name'}} 
							{{#if afFieldIsInvalid name='profile.first_name'}}
							<span class="help-block">{{afFieldMessage name='profile.first_name'}}</span>
							{{/if}}
						</div>
					</div>

					<div class="form-group{{#if afFieldIsInvalid name='profile.mid_name'}} has-error{{/if}}">
						<label for="mid_name" class="col-md-2 control-label">Отчество:</label>
						<div class="col-md-10">
							{{> afFieldInput name='profile.mid_name' id = 'mid_name'}} 
							{{#if afFieldIsInvalid name='profile.mid_name'}}
							<span class="help-block">{{afFieldMessage name='profile.mid_name'}}</span>
							{{/if}}
						</div>
					</div>

					<div class="form-group{{#if afFieldIsInvalid name='email'}} has-error{{/if}}">
						<label for="email" class="col-md-2 control-label">E-mail:</label>
						<div class="col-md-10">
							{{> afFieldInput name='email' id = 'email'}} 
							{{#if afFieldIsInvalid name='email'}}
							<span class="help-block">{{afFieldMessage name='email'}}</span>
							{{/if}}
						</div>
					</div>

					<div class="form-group{{#if afFieldIsInvalid name='status'}} has-error{{/if}}">
						<label for="status" class="col-md-2 control-label">Статус:</label>
						<div class="col-md-10">
							{{> afFieldInput name='status' id = 'status'}} 
							{{#if afFieldIsInvalid name='status'}}
							<span class="help-block">{{afFieldMessage name='status'}}</span>
							{{/if}}
						</div>
					</div>

				<div class="form-group{{#if afFieldIsInvalid name='role'}} has-error{{/if}}">
						<label for="role" class="col-md-2 control-label">Роль:</label>
						<div class="col-md-10">
							{{> afFieldInput name='role' id = 'role'}} 
							{{#if afFieldIsInvalid name='role'}}
							<span class="help-block">{{afFieldMessage name='role'}}</span>
							{{/if}}
						</div>
					</div>
					
				</fieldset>
				<div class="form-group">
					<div class="col-md-10 col-md-offset-2"> 
						<button type = "button" class = "btn btn-flat btn-default btn-cancel"> Отменить </button>
						<button type = "submit" class = "btn btn-primary"> Добавить </button>
					</div>
				</div>
				{{/autoForm}}
			</div>
		</div>
	</div>
</template>