<template name="login">
  <div class="section " id="section0">
    <div class="container">
      <div class="row">
        <div class="center col-md-12">
          <div class="outline center block">
            <h1 class="big center headline">Вход для клиник</h1>
            <div class="short-form"  id = "authorizationBlock">
            {{#autoForm schema = "Schems.authorization" id = "authorizationForm"}}
               <div class="form-group{{#if afFieldIsInvalid name='email'}} error{{/if}}">
							     <label for="email">Эл.почта</label>
				            {{> afFieldInput name='email' id = 'email'   class="form-control"}} 
				            {{#if afFieldIsInvalid name='email'}}
				            	<span >{{afFieldMessage name='email'}}</span>
										{{/if}}
		            </div>
						    <div class="form-group{{#if afFieldIsInvalid name='password'}} error{{/if}}">
							     <label for="password">Пароль</label>
				            {{> afFieldInput name='password' id = 'password'  type= "password" class="form-control"}} 
				            {{#if afFieldIsInvalid name='password'}}
				            	<span class="help-block">{{afFieldMessage name='password'}}</span>
										{{/if}}
		            </div>
		            <div class="form-group mg-btm">
                  <input type="submit" class="btn btn-block btn-primary" value = "Войти">
                </div>
                <a href="#" id="forgotPassBtn">Напомнить пароль</a>
            {{/autoForm}}
            </div> 

            <div id ="forgotPassBlock" class = "short-form hide_block">
               {{#autoForm schema = "Schems.forgotPassword" id = "forgotPassForm"}}
                  <div class="form-group{{#if afFieldIsInvalid name='email'}} error{{/if}}">
                   <label for="email">Эл.почта</label>
                    {{> afFieldInput name='email' id = 'email' }} 
                    {{#if afFieldIsInvalid name='email'}}
                      <span >{{afFieldMessage name='email'}}</span>
                    {{/if}}
                </div>
               <div class="form-group mg-btm">
                  <input type="submit" class="btn btn-block btn-primary" value = "Сбросить пароль">
                </div>
               <a href="#" class = "cancel">Отмена</a>
              {{/autoForm}}
            </div>

           <h4>{{messageText}}</h4>
          </div>
          <a class="btn btn-outline btn-gray mg-btm-3" href="{{pathFor 'addClinic'}}"><span class="add-icon"></span> Добавить клинику</a>
          <!-- <div id="moveDown" class="rounded-button">Отзывы клиник <span class="arrow-down"></span></div> -->
        </div>
      </div>
    </div>
  </div>
</template>
