<template name = "clinicList">
	<div class="well bs-component">
	<div class = "row">
			<div class = "col-md-12 text-left">
				<h3> Клиники </h3>
			</div>
		</div>

	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-12">
			<div class="input-group">
				<span class="input-group-addon glyphicon glyphicon-search" aria-hidden="true"></span>
				<input type = "text" placeholder = "Поиск по названию" class="form-control searchByName"> 
			</div>
		</div>
	</div>

	<div class="row" style = "margin-top:10px;">
		<div class="col-md-1 col-sm-1 col-xs-4">
			<label for="searchByStatus" class="control-label">Статус:</label>
		</div>
		<div class="col-md-2 col-sm-3 col-xs-8">
			<select class = "form-control" id = "searchByStatus">
				<option value = "all" selected> Все </option>
				<option value = "0"> Заявка </option>
				<option value = "1"> Действует </option>
				<option value = "2"> Заблокирована </option>
			</select>
		</div>
	</div>

		<div class = "row" style = "margin-top:10px;">
			<div class = "col-md-12 text-left">
				<table class = "table table-striped table-hover">
					<thead>
						<th id = "sortByName" class = "col-md-8 clickable" > Наименование <span class="glyphicon glyphicon-arrow-down" > </span></th>
						<th id = "sortByPaidUp" class = "col-md-2 clickable" > Оплачено до <span class="glyphicon glyphicon-arrow-down" > </span> </th>
						<th class = "col-md-2"> Статус </th>
					</thead>
					<tbody>
						{{#each clinicList}}
						{{> clinicItem}}
						{{else}}
						Нет подходящих записей
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-12">
				<button type = "button" class = "btn btn-primary" id = 'add-button'> Добавить </button>
			</div>
		</div>
	</div>
</template>