<template name = "clinicItem">
	<tr class = "line-table">
		<td class = "col-md-8">
			{{name}}
		</td>
		<td class = "col-md-2">
			{{paid_up}}
		</td>
		<td class = "col-md-2">
			{{statusText}}
		</td>	
	</tr>
</template>