<template name="authorization">
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
				<!-- 	<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button> -->
					<h4 class="modal-title">Войти</h4>
				</div>

          <div class="modal-body">
 						<div id = "authorizationBlock">
						  {{#autoForm schema = "Schems.authorization" id = "authorizationForm" class="form-horizontal"}}
						    <!-- {{> afQuickField name = 'email'}} -->
						    <div class="form-group{{#if afFieldIsInvalid name='email'}} error{{/if}}">
							     <label for="email" class="col-sm-2 control-label">Email</label>
							     <div class="col-sm-10">
				            {{> afFieldInput name='email' id = 'email' placeholder = 'Email'  }} 
				            {{#if afFieldIsInvalid name='email'}}
				            	<span >{{afFieldMessage name='email'}}</span>
										{{/if}}
			            </div>
		            </div>
						    <!-- {{> afQuickField name = 'password' type = 'password'}} -->
						    <div class="form-group{{#if afFieldIsInvalid name='password'}} error{{/if}}">
							     <label for="password" class="col-sm-2 control-label">Пароль</label>
							     <div class="col-sm-10">
				            {{> afFieldInput name='password' id = 'password' placeholder = 'Пароль' type= "password" }} 
				            {{#if afFieldIsInvalid name='password'}}
				            	<span class="help-block">{{afFieldMessage name='password'}}</span>
										{{/if}}
			            </div>
		            </div>
						    <!-- <p><a href="#" class="btn btn-positive" id = "submitAuth" >Войти</a></p> -->
						    <button type="submit" class="btn btn-positive">Войти</button>
						    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">ОТМЕНА</button>
						  {{/autoForm}}
	            
	            <div class="row">
	              <div class="col-xs-6"><a href="#" id="forgotPassBtn">Напомнить пароль</a></div>
	            </div> 
            </div>

            <div id ="forgotPassBlock" class = "hide_block">
            	 {{#autoForm schema = "Schems.forgotPassword" id = "forgotPassForm" class="form-horizontal"}}
							    <div class="form-group{{#if afFieldIsInvalid name='email'}} error{{/if}}">
							     <label for="email" class="col-sm-2 control-label">Email</label>
							     <div class="col-sm-10">
				            {{> afFieldInput name='email' id = 'email' placeholder = 'Email' }} 
				            {{#if afFieldIsInvalid name='email'}}
				            	<span >{{afFieldMessage name='email'}}</span>
										{{/if}}
			            </div>
		            </div>
							 <button type="submit" class="btn btn-positive">Сбросить пароль</button>
						  {{/autoForm}}
							<a href="#" class = "cancel">Отмена</a>
            </div>
            <h4>{{messageText}}</h4>
          </div>

        </div>
      </div>
    </div>
</template>


