<template name="doctor">
  <div class="row">
    <div class="col-md-7">
      <div class="user-avatar mg-t" style="background-image: url(/img-doctor/{{doctor_id}}_doctor.jpg);"></div>
      <div class="user-info mg-t">
        <div class="name">{{fio_doctor}}</div>
        <div class="status">.</div>
      </div>
      <div class="tab-buttons">
        <div id="btn-tab-1" class="active button">
          <span>Все пациенты</span> <span class="meta">{{all_patient_count}}</span>
        </div>
        <div id="btn-tab-2"  class="button">
          <span>Требуют внимания</span>
           <!-- <span class="meta active">14 </span> -->
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="blocks">
        <div class="mini-block hint-block">
          Передайте промо-код пациенту, чтобы он установил приложение Keepvision из Google Play
          <br/>
          <a href="#" class="link" data-toggle="modal" id = "howItWorkslink">Как это работает?</a>
        </div>
        <div class="mini-block action-block">
          <a href="#" id = "getPromoCode" class="btn btn-positive btn-short">Создать промо-код</a>
          <div id="code" class="code">
            <div class="text">{{generatePromoCode}}</div>
            <a href="{{pathFor 'printPromoCode' promo_code = generatePromoCode}}" target="_blank" class="btn print-btn btn-default">Распечатать</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="template"></div>
         <!-- <div id="tab-2"> -->
          <!-- {{> patientList}} -->
        <!-- </div> -->
          <!-- <div id="tab-1" class="hided">
            <table class="h-a all-pacients fixed thead">
              <thead>
                <tr>
                  <th class="name">Имя пациента</th>
                  <th class="short age">Возраст (лет)</th>
                  <th class="results">Показатель 1</th>
                  <th class="results">Показатель 2</th>
                  <th class="left comment">Комментарий</th>
                  <th class="buttons"></th>
                </tr>
              </thead>
            </table>
            <table class="h-a fixed all-pacients table">
              <tbody>
                <tr>
                  <td class="name">
                    <div>Кристина Викарчук</div>
                  </td>
                  <td class="short age right">
                    40
                  </td>
                  <td class="results positive right">
                    20%
                  </td>
                  <td class="results negative right">
                    -10%
                  </td>
                  <td class="comment left">
                    Медосмотр 23 марта 2015
                  </td>
                  <td class="buttons right">
                    <div class="table-btn-watch"></div>
                  </td>
                </tr>
                <tr>
                  <td class="name">
                    <div>Кристина Викарчук</div>
                  </td>
                  <td class="short age right">
                    40
                  </td>
                  <td class="results positive right">
                    20%
                  </td>
                  <td class="results negative right">
                    -10%
                  </td>
                  <td class="comment left">
                    Медосмотр 23 марта 2015
                  </td>
                  <td class="buttons right">
                    <div class="table-btn-watch"></div>
                  </td>
                </tr>
                <tr>
                  <td class="name">
                    <div>Кристина Викарчук</div>
                  </td>
                  <td class="short age right">
                    40
                  </td>
                  <td class="results positive right">
                    20%
                  </td>
                  <td class="results negative right">
                    -10%
                  </td>
                  <td class="comment left">
                    Медосмотр 23 марта 2015
                  </td>
                  <td class="buttons right">
                    <div class="table-btn-watch"></div>
                  </td>
                </tr>
                <tr>
                  <td class="name">
                    <div>Кристина Викарчук</div>
                  </td>
                  <td class="short age right">
                    40
                  </td>
                  <td class="results positive right">
                    20%
                  </td>
                  <td class="results negative right">
                    -10%
                  </td>
                  <td class="comment left">
                    Медосмотр 23 марта 2015
                  </td>
                  <td class="buttons right">
                    <div class="table-btn-watch"></div>
                  </td>
                </tr>
                <tr>
                  <td class="name">
                    <div>Кристина Викарчук</div>
                  </td>
                  <td class="short age right">
                    40
                  </td>
                  <td class="results positive right">
                    20%
                  </td>
                  <td class="results negative right">
                    -10%
                  </td>
                  <td class="comment left">
                    Медосмотр 23 марта 2015
                  </td>
                  <td class="buttons right">
                    <div class="table-btn-watch"></div>
                  </td>
                </tr>
                <tr>
                  <td class="name">
                    <div>Кристина Викарчук</div>
                  </td>
                  <td class="short age right">
                    40
                  </td>
                  <td class="results positive right">
                    20%
                  </td>
                  <td class="results negative right">
                    -10%
                  </td>
                  <td class="comment left">
                    Медосмотр 23 марта 2015
                  </td>
                  <td class="buttons right">
                    <div class="table-btn-watch"></div>
                  </td>
                </tr>
                <tr>
                  <td class="name">
                    <div>Кристина Викарчук</div>
                  </td>
                  <td class="short age right">
                    40
                  </td>
                  <td class="results positive right">
                    20%
                  </td>
                  <td class="results negative right">
                    -10%
                  </td>
                  <td class="comment left">
                    Медосмотр 23 марта 2015
                  </td>
                  <td class="buttons right">
                    <div class="table-btn-watch"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> -->
</template>
