<template name = "howItWorks">
	<div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title">Как это работает?</h1>
            <span class="close close-btn" data-dismiss="modal" aria-label="Close">Закрыть</span>
          </div>
          <div class="modal-body">
           <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Что такое KeepVision?</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Приложение фиксирует время проведенное ребенком с включенным телефоном или планшетом и ежедневно отправляет об этом отчеты на электронную почту родителя</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Зачем нужен промо-код?</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Приложение фиксирует время проведенное ребенком с включенным телефоном или планшетом и ежедневно отправляет об этом отчеты на электронную почту родителя</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Как пригласить пациента на прием?</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Приложение фиксирует время проведенное ребенком с включенным телефоном или планшетом и ежедневно отправляет об этом отчеты на электронную почту родителя</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Как читать графики в карточке пациента?</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Приложение фиксирует время проведенное ребенком с включенным телефоном или планшетом и ежедневно отправляет об этом отчеты на электронную почту родителя</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="mailto:help@keepvisionapp.com" class="link">help@keepvisionapp.com</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>