<template name="patientList">
  <div class="row">
    <div class="col-md-12">
      <div class="table-cover">
        <form action="" method="POST">
          <div class="form-group search-input">
            <div class="col-sm-4">
              <input id="fieldSearch" type="text" class="form-control" placeholder="Найти по имени">
              <div class="close-button"></div>
            </div>
          </div>
        </form>
        <div class="pacients fixed table">
          <table>
            <tbody>
              {{#each patient_list}}
              <tr>
                <td class="long name">
                  <div>{{#if fio_patient}}{{fio_patient}}{{else}} Пациент не указал ФИО{{/if}}</div>
                  <div>{{birthdate_patient}}</div>
                </td>
                <td class="left conclusion">
                  <div>Снижение остроты зрения вдаль</div>
                  <img src="img/graphic.png" alt="">
                </td>
                <td class="right invite">
                  <a href="" class="btn btn-small btn-default invite-reception">Пригласить на прием</a>
                </td>
                <td class="left">
                  <!-- <a href="{{pathFor 'patient' patient_id = patientId}}"> -->
                  <div class="table-btn-watch"></div>
                  <!-- </a> -->
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
