<template name="patient">
  <div class="small-padded block row mg-b">
    <div class="col-md-4">
      <div class="item">
        <div class="title">{{#if fio_patient}}{{fio_patient}}{{else}} Пациент не указал ФИО{{/if}}</div>
        <div class="meta">Возраст:{{#if age}} {{age}} {{else}} - {{/if}}</div>
      </div>
    </div>
    <!--    <div class="col-md-5 col-md-offset-3">
      <form action="/" method="POST">
        <textarea placeholder="Добавьте комментрий. Будет виден только вам" class="fluid form-control" name="comment" id="" rows="2"></textarea>
      </form>
    </div> -->
    <div class="col-md-12">
      <!-- Nav tabs -->
      <ul class="default nav nav-tabs" role="tablist">
        <!--      <li role="presentation" class="active"><a href="#week" aria-controls="home" role="tab" data-toggle="tab">Неделя</a></li> -->
        <li role="presentation" class="active"><a href="#profile" aria-controls="mounth" role="tab" data-toggle="tab" id="tabWeeks">Дни</a></li>
        <li role="presentation"><a href="#messages" aria-controls="year" role="tab" data-toggle="tab" id="tabMonth">Недели</a></li>
        <!-- <li role="presentation"><a href="#settings" aria-controls="alltime" role="tab" data-toggle="tab">Все время</a></li> -->
      </ul>
      <div style = "margin-top:20px;">
          <button class="btn btn-gray" id="prevBtn"> &laquo;</button>
          <button class="btn btn-gray" id="nextBtn"> &raquo; </button>
      </div>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="week">
          {{#if day_active}}
          <h3>Ежедневная активность (минуты)</h3>
          {{else}}
          <h3>Еженедельная активность (минуты)</h3>
          {{/if}}
          <div class="graphic" width="918" height="145">
            <!--    {{#if showSpinner}}
          {{> spiffygif}}
          {{/if}} -->
            <!-- <img src="img/big_graphic.png" alt=""> -->
            <!-- <div id = "graphicDailyActivity"></div> -->
            <canvas id="dailyActivity" width="918" height="145"> </canvas>
            <!-- <a class="btn btn-gray" href="">Распечатать</a> -->
          </div>
          <!--     <h3>Низкое освещение (часы)</h3>
          <div class="graphic">
            <img src="img/big_graphic.png" alt="">
            <a class="btn btn-gray" href="">Распечатать</a>
          </div>
          <h3>Неправильная осанка (часы)</h3>
          <div class="graphic">
            <img src="img/big_graphic.png" alt="">
            <a class="btn btn-gray" href="">Распечатать</a>
          </div> -->
          <h3 class="aligned-middle">Острота зрения</h3>
          <!--  <ul class="default nav nav-tabs aligned-middle mg-l" role="tablist">
            <li role="presentation" class="active"><a href="#graphic" aria-controls="graphic" role="tab" data-toggle="tab">Неделя</a></li>
            <li role="presentation"><a href="#graphic-2" aria-controls="graphic-2" role="tab" data-toggle="tab">Месяц</a></li>
          </ul> -->
          <div role="tabpanel" class="tab-pane" id="graphic">
            <div class="graphic">
              <canvas id="diagnosis" width="918" height="145"> </canvas>
              <!-- <img src="img/big_graphic_2.png" alt=""> -->
              <div class="aligned-middle float-left checkboxes">
                <label class="checkbox-inline" style="color:red;">
                  <!-- <input type="checkbox" id="inlineCheckbox2" value="option2">  -->
                  Левый
                </label>
                <label class="checkbox-inline" style="color:green;">
                  <!-- <input type="checkbox" id="inlineCheckbox1" value="option1">  -->
                  Правый
                </label>
                <label class="checkbox-inline" style="color:blue;">
                  <!-- <input type="checkbox" id="inlineCheckbox2" value="option2">  -->
                  Оба глаза
                </label>
              </div>
              <!--    <div class="aligned-middle button">
                <button type="button" class="btn btn-gray" data-container="body" data-toggle="popover" data-placement="top" data-content="Пример всплывающей подсказки">
                  Распечатать
                </button>
              </div> -->
            </div>
          </div>
        </div>
        <!--         <div role="tabpanel" class="tab-pane" id="mounth">
        </div>
        <div role="tabpanel" class="tab-pane" id="year">...</div>
        <div role="tabpanel" class="tab-pane" id="alltime">...</div> -->
      </div>
    </div>
  </div>
</template>
