<template name="printPromoCode">
    <div class="print-promo-code-left">
      <p class = "font-24">{{clinic_name}}</p>
      <p class = "font-14">{{clinic_address}}</p>
      <p class = "font-24">{{doctor_name}}</p>
      <br>
      <br>
      <p class = "font-14">Начните работать с приложением KeepVision бесплатно</p>
      <br>
      <p class = "font-14">Как установить приложение:</p>
      <p class = "font-14">1. Скачайте KeepVision 
 			для Android в Google Play</p>
      <p class = "font-14">2. Пройдите тест зрения</p>
      <p class = "font-14">3. Введите промо-код</p>
      <p class = "font-72"> {{promo_code}} </p>

    </div>
    <div class="print-promo-code-right">
			<img src="/img/logo.png" alt="">
			<p class="font-14">Прямая ссылка на приложение</p>
			<div class="qr-code"></div>
    </div>
</template>
