<template name='addClinic'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="short-form">
          <h1 class="big center headline">Добавить клинику</h1>
          {{#autoForm schema = "Schems.addClinic" id = "addClinicForm" type = "method" meteormethod = "addClinic"}}
            <div class="form-group">
              <label for="contact">Контактное лицо</label>
              {{> afFieldInput name='profile.last_name' id = 'last_name' placeholder = 'Фамилия' class="form-control"}} 
							{{#if afFieldIsInvalid name='profile.last_name'}}
								<div class = "{{#if afFieldIsInvalid name='profile.last_name'}} error{{/if}}">
									<span class="help-block">{{afFieldMessage name='profile.last_name'}}</span> 
								</div>
							{{/if}}
							{{> afFieldInput name='profile.first_name' id = 'first_name' placeholder = 'Имя'}} 
							{{#if afFieldIsInvalid name='profile.first_name'}}
								<div class = "{{#if afFieldIsInvalid name='profile.first_name'}} error{{/if}}">
									<span class="help-block">{{afFieldMessage name='profile.first_name'}}</span>
								</div>
							{{/if}}
       				{{> afFieldInput name='profile.mid_name' id = 'mid_name' placeholder = 'Отчество'}} 
							{{#if afFieldIsInvalid name='profile.mid_name'}}
								<span class="help-block">{{afFieldMessage name='profile.mid_name'}}</span>
							{{/if}}
            </div>
            <div class="form-group{{#if afFieldIsInvalid name='email'}} error{{/if}}">
					     <label for="email">Эл.почта</label>
		            {{> afFieldInput name='email' id = 'email' class="form-control" placeholder="Эл.почта"}} 
		            {{#if afFieldIsInvalid name='email'}}
		            	<span >{{afFieldMessage name='email'}}</span>
								{{/if}}
            </div>

            <div class="form-group{{#if afFieldIsInvalid name='nameClinic'}} error{{/if}}">
					     <label for="nameClinic">Название клиники</label>
		            {{> afFieldInput name='nameClinic' id = 'nameClinic' class="form-control" placeholder="Название клиники"}} 
		            {{#if afFieldIsInvalid name='nameClinic'}}
		            	<span >{{afFieldMessage name='nameClinic'}}</span>
								{{/if}}
            </div>

            <div class="form-group{{#if afFieldIsInvalid name='phone'}} error{{/if}}">
					     <label for="phone">Телефон клиники</label>
		            {{> afFieldInput name='phone' id = 'phone' class="form-control" placeholder="Телефон клиники"}} 
		            {{#if afFieldIsInvalid name='phone'}}
		            	<span >{{afFieldMessage name='phone'}}</span>
								{{/if}}
            </div>

            <div class="form-group mg-btm">
              <input type="submit" class="btn btn-block btn-primary" value = "Добавить">
            </div>
            {{/autoForm}}
            <h5>{{text}}</h5>
        </div>
      </div>
    </div>
  </div>
</template>
