.form-signin {
    max-width: 300px;
    margin: 0 auto;
}

.form-signin input {
    font-size: 18px;
    padding-left: 12px;
}

.vertical-offset-100 {
    padding-top: 100px;
}

.line-table {
    cursor: pointer
}

.clickable {
    cursor: pointer
}

.hide-element {
    display: none;
}

@media print {
    .hide-print {
        display: none !important;
    }
}
