<template name="bindDoctor">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">Привязать врача</h4>
          <br>
        </div>
        <div class="modal-delimiter"></div>
        <div class="modal-body">
        <div class="row" id = "clinic-list">
          <div class="col-md-12">
            <h5>Выберите клинику </h5>
            <table class = "table table-hover">
            <tbody>
            {{#each clinicList}}
              <tr class = "clickable clinicLine">
                <td>
                  {{name}}
                </td>
              </tr>
            {{else}}
              Еще нет клиник
            {{/each}}
            </tbody>           
            </table>
          </div>
        </div>
        <div class="row hide-element" id = "doctor-list">
          <div class="col-md-12">
            <h5>Выберите врача </h5>
            <table class = "table table-hover">
            <tbody>
            {{#each doctorList}}
              <tr class = "clickable doctorLine">
                <td>
                  {{profile.last_name}} {{profile.first_name}} {{profile.mid_name}}
                </td>
              </tr>
            {{else}}
            У клиники нет сотрудников
            {{/each}}
            </tbody>           
            </table>
          </div>
        </div>
        </div>
        <div class="modal-footer">
            <div id="spinner"></div>
           <!-- <button type="button" id = "okBtn" class="btn btn-default btn-modal-footer" >ok</button> -->
        </div>
      </div>
    </div>
  </div>
</template>
