<template name = "promoCodeView">
<div class="well bs-component">
	<div class = "row">
		<div class = "col-md-12 text-left">
			<h3> Промо коды </h3>
		</div>
	</div>

<div class="row hide-print">
  <div class="col-md-12">
    <label for="amountPromoCode"> Количество </label>
    <input id="amountPromoCode"/>
    <button type="button" class="btn btn-primary" id="generatePromoCodeBtn"> Сгенерировать </button>
    <button type="button" class="btn btn-primary" id = "bideDoctorBtn"> Превязать к врачу </button>
    <button type="button" class="btn btn-primary" id = "printBtn"> Печать </button>
  </div>
</div>


		<div class = "row">
			<div class = "col-md-5">
				<table class = "table table-striped table-hover">
					<thead class = "hide-print">
					  <th class="col-md-1"></th>
						<th class = "col-md-2" > Промо код </th>
						<th class = "col-md-2"> Дата </th>
					</thead>
					<tbody>
						{{#each promoCodeList}}
						{{> promoCodeItem}}
						{{else}}
						Промо кодов нет
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
</div>
</template>