<template name = "promoCodeItem">
	<tr class="table_line hide-print" data-id = "{{promoCodeId}}">
		<td class="col-md-1  hide-print"><input type = "checkbox" class = "cbPromoCode" />	</td>
		<td class="col-md-2">{{promo_code}}</td>					
		<td class="col-md-2  hide-print">{{date_update}}</td>					
	</tr>
</template>