<template name = "header">
  <div class = "row">
    <div class="col-md-12">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Администратор </a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{pathFor route = 'adminList'}}">Администраторы</a></li>
            <li><a href="{{pathFor route = 'clinicList'}}">Клиники</a></li>
            <li><a href="{{pathFor route = 'promoCodeView'}}">Промо коды</a></li>
            <li><a href="{{pathFor route = 'patientList'}}">Пациенты</a></li>
            <li><a href="{{pathFor route = 'eventLogList'}}">Логи</a></li>
            <li class="dropdown">
              <a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Settings<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor 'intervalMatrix'}}">Duration of use</a></li>
                <li><a href="{{pathFor 'factorMatrix'}}">Factors settings</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="bootstrap-elements.html" data-target="#">
                {{userName}} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li id = "changePass" ><a href="#" data-toggle="tab">Изменить пароль</a></li>
                <li id = "exit"><a href="#" data-toggle="tab">Выход</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>