<template name = "adminList">
	<div class="well bs-component">
	<div class = "row">
			<div class = "col-md-12 text-left">
				<h3> Администраторы </h3>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-12 text-left">
				<table class = "table table-striped table-hover">
					<thead>
						<th class = "col-md-10" > Имя </th>
						<th class = "col-md-2"> Статус </th>
					</thead>
					<tbody>
						{{#each adminList}}
						{{> adminItem}}
						{{else}}
						Нет подходящих записей
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-12">
				<button type = "button" class = "btn btn-primary" id = 'add-button'> Добавить </button>
			</div>
		</div>
	</div>
</template>