<template name='landingPage'>
  <div id="fullpage">
    <div class="section " id="section0">
      <div class="container">
        <div class="row">
          <div class="h-500 col-md-2">
            <img src="img/illustration-family.png" class="illustration" alt="">
            <!-- <div class="play-button"> -->
              <!-- <div class="play"></div> -->
              <!-- <div class="text">Смотреть видео</div> -->
            <!-- </div> -->
          </div>
          <div class="center col-md-8 col-sm-12 col-xs-12">
            <h1 class="big blue center headline">Ваш персональный карманный офтальмолог</h1>
            <div class="outline center block">
              <a href="" class="huge btn btn-primary mg-btm">Скачать на <b>Google Play</b></a>
              <div class="passive-button mg-btm-2">
                Скоро в <b>App Store</b>
                <div class="soon-flag">
                  скоро
                </div>
              </div>
              <h6 class="small headline">Не знаете насколько у вас плохое зрение?</h6>
              <p>
                Программа следит за зрением и сообщает врачу о нарушениях, а неприятные осложнения обходят вас стороной
              </p>
            </div>
            <!-- <div id="moveDown" class="rounded-button">Отзывы пациентов <span class="arrow-down"></span></div> -->
          </div>
          <div class="h-500 col-md-2">
            <div class="align-cover">
              <div class="very huge text">
                3000 &#8381;
                <img src="img/line-sale.png" alt="">
              </div>
              <p class="info-text">
                Установите программу сейчас, чтобы получить промо-код для бесплатного доступа
              </p>
            </div>
          </div>
          <div class="col-xs-12 desktop-none">
            <div class="align-cover">
              <div class="very huge text">
                3000 &#8381;
                <img src="img/line-sale.png" alt="">
              </div>
              <p class="info-text">
                Установите программу сейчас, чтобы получить промо-код для бесплатного доступа
              </p>
            </div>
          </div>
          <div class="col-xs-12 desktop-none">
            <div class="play-button">
              <div class="play"></div>
              <div class="text">Смотреть видео</div>
            </div>
          </div>
        </div>
      </div>
    </div>
 <!--    <div class="section " id="section1">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="reviews-block">
              <h1 class="big center headline">Отзывы пациентов</h1>
              <div class="review">
                <div class="avatar">
                  <img src="img/user.png" alt="">
                </div>
                <div class="content">
                  <span class="name">Лариса Колобей</span> <span class="breaker">|</span> <span class="subject">Приложение для проверки зрения</span>
                  <p>Уравнение малых колебаний методически позволяет исключить из рассмотрения гироскопический маятник. Точность гироскопа учитывает кинетический момент до полного прекращения вращения. </p>
                  <p> Точность тангажа безусловно связывает гирогоризонт. Классическое уравнение движения поступательно участвует в погрешности определения курса меньше, чем установившийся режим.</p>
                  <div class="meta-data">
                    <span class="date">1 ноября 15:34</span> <span class="breaker">|</span> <a href="">Комментировать</a>
                  </div>
                </div>
              </div>
              <div class="review">
                <div class="avatar">
                  <img src="img/user.png" alt="">
                </div>
                <div class="content">
                  <span class="name">Лариса Колобей</span> <span class="breaker">|</span> <span class="subject">Приложение для проверки зрения</span>
                  <p>Уравнение малых колебаний методически позволяет исключить из рассмотрения гироскопический маятник. Точность гироскопа учитывает кинетический момент до полного прекращения вращения. </p>
                  <div class="meta-data">
                    <span class="date">1 ноября 15:34</span> <span class="breaker">|</span> <a href="">Комментировать</a>
                  </div>
                </div>
              </div>
              <div class="review">
                <div class="avatar">
                  <img src="img/user.png" alt="">
                </div>
                <div class="content">
                  <span class="name">Лариса Колобей</span> <span class="breaker">|</span> <span class="subject">Приложение для проверки зрения</span>
                  <p>Уравнение малых колебаний методически позволяет исключить из рассмотрения гироскопический маятник. Точность гироскопа учитывает кинетический момент до полного прекращения вращения. </p>
                  <div class="meta-data">
                    <span class="date">1 ноября 15:34</span> <span class="breaker">|</span> <a href="">Комментировать</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</template>
