<template name="layout">
    <div class="wrap">
      <header>
        <nav class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">keepvision</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="clinic-name">{{clinic_name}}</li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="#">Помощь</a></li> -->
                <li><a id = "changePassword" href="#">Сменить пароль</a></li>
                <li><a id = "logout" href="#">Выйти</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
        </nav>
      </header>
      <main>
      	<div class="container"> 
					{{> yield}}
      	</div>
      </main>
    </div>
    <div class="buffer"></div>
    <footer class="navbar-fixed-bottom row-fluid">
      <div class="navbar-inner">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="name">keepvision &nbsp;&nbsp;|</span>&nbsp;&nbsp; <span class="copy">© 2015</span> 
                </div>
            </div>
          </div>
        </div>
    </footer>
</template>
