<template name="layoutLanding">
  	<div class="wrap">
        <!-- <a class="desktop-none btn btn-outline btn-block" href="#"><span class="key"></span> Вход для клиник</a> -->
        <header>   
            <nav class="navbar navbar-default navbar-fixed-top row-fluid">
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">
                      <img src="img/logo.png" alt="">
                      <div class="text-big">8 (800) 917-19-80</div>
                      <div class="text-small">Звонок бесплатный</div>    
                  </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="text-big">8 (800) 917-19-80</div>
                        <div class="text-small">Звонок бесплатный</div>  
                    </li>
                    <li>
                        <a class="btn btn-outline" href="{{pathFor 'login'}}"><span class="key"></span> Вход для клиник</a>
                    </li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        </header>
        <div class="header-buffer"></div>
        <main>
					{{> yield}}
		    </main>
    </div>
    <div class="buffer"></div>
    <footer class="navbar-fixed-bottom row-fluid">
      <div class="navbar-inner">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="name">keepvision &nbsp;&nbsp;|</span>&nbsp;&nbsp; <span class="copy">© 2015</span> 
                </div>
            </div>
          </div>
        </div>
    </footer>
</template>