<template name="campaignTab">
  <div class="row mg-b">
    <div class="col-md-7">
      <div class="block">
        <h1>Новая акция</h1>
         {{#autoForm schema = "Schems.addCampaign" id = "campaignForm" type = "method" meteormethod = "addCampaign" class="short-form"}}

         <div class="form-group{{#if afFieldIsInvalid name='title'}} error{{/if}}">
            <label for="title" class="title">Заголовок</label>
            {{> afFieldInput name='title' id = 'title' placeholder = 'Заголовок' class="form-control" }} 
            {{#if afFieldIsInvalid name='title'}}
            <span class="help-block">{{afFieldMessage name='title'}}</span>
            {{/if}}
        </div>
         <div class="form-group{{#if afFieldIsInvalid name='text'}} error{{/if}}">
            <label for="text" class="title">Текст акции</label>
            {{> afFieldInput name='text' id = 'text' placeholder = 'Опишите акцию, укажите срок действия акции и условия' class="form-control" rows=3}} 
            {{#if afFieldIsInvalid name='text'}}
            <span class="help-block">{{afFieldMessage name='text'}}</span>
            {{/if}}
        </div>
          <div class="form-group">
            <label for="photo" class="title">Фотография</label>
            <div class="file_upload">
              <button type="button">Загрузить другой файл</button>
              <input type="file" id = "input-campaign-photo">
            </div>
          </div>
          <div class="form-group">
            <label for="photo" class="title">Получатели</label>
            {{> afFieldInput name='interface.all_patient' class ="checkbox-campaign" }} 
            <hr/>
            <div class="row">
              <div class="col-sm-6">
                {{> afFieldInput name='interface.man' class ="checkbox-campaign add-checkbox-campaign" }} 
                {{> afFieldInput name='interface.woman' class ="checkbox-campaign add-checkbox-campaign" }} 
              </div>
              <div class="col-sm-6">
                {{> afFieldInput name='interface.to_17_years' class ="checkbox-campaign add-checkbox-campaign"}} 
                {{> afFieldInput name='interface.from_18_to_24_years' class ="checkbox-campaign add-checkbox-campaign"}} 
                {{> afFieldInput name='interface.from_24_to_40_years' class ="checkbox-campaign add-checkbox-campaign"}} 
                {{> afFieldInput name='interface.from_41_and_older' class ="checkbox-campaign add-checkbox-campaign"}} 
              </div>
            </div>
          </div>
  

          
       <!--    <label for="title" class="title">Дата рассылки</label>
           <br/>
          <div class="input-group col-sm-6 datetimepicker" style="margin-bottom:20px;">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <input class="set-due-date form-control" type="text"/>
          </div> -->
        
       

        <!--   <div class="form-group">
            <label for="title" class="title">Дата рассылки</label>
            <br/>
            <a href="#" class="btn btn-outline">Сегодня <img src="img/icon-calendar.png" alt=""></a>
          </div> -->

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Отправить <b>{{count_patient}}</b> клиентам</button>
          </div>
          {{/autoForm}}
      </div>
    </div>
    <div class="col-md-5">
      <div class="phone-block">
        <div class="phone">
          <div class="view">
            <div id = "header-phone"> <p id = "header-text-phone"> keepvision </p> </div>
            <div id="body-phone">
              <div id = "date-phone"> {{current_date}} </div>
              <div id="title-phone"> {{#if title_phone}} {{title_phone}} {{else}}Заголовок{{/if}} </div>
              <img id = "img-phone" src="" alt="">
              <div id="text-phone"> {{#if text_phone}} {{text_phone}} {{else}} Опишите акцию, укажите срок действия акции и условия{{/if}} </div> 
              <div id="btn-phone"> <button type="button" class="btn btn-primary btn-block"> Позвонить </button> </div>
            </div>
          </div>
        </div>
        <div class="text">В телефоне клиента</div>
      </div>
    </div>
  </div>
  <div class="row mg-b">
    <div class="col-md-12">
      <div class="block">
        <h1>Все ваши акции</h1>
        <table class="all-to-top">
          <thead>
            <tr>
              <th class="left">Акции</th>
              <th></th>
              <th class="right">Сообщений</th>
              <th class="right">Просмотры</th>
              <th class="right">Позвонили</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {{#each campaignList}}
          <tr>
              <th scope="row left" style ="width: 212px;">
                <img class="responsive-img campaign_image" id = "photo_{{campaign_id}}" src="/img-campaign/{{campaign_id}}_campaign.jpg?{{random_numb}}" alt="">
              </th>
              <td class="name left">
                <a class="gray link" href="">{{content.title}}</a>
                <div>{{date_begin}}</div>
              </td>
              <td class="right">{{stats.count_patient}}</td>
              <td class="right">{{stats.count_action_read}}</td>
              <td class="right">{{stats.count_action_call}}</td>
              <td class="center">
                <a href=""><img src="img/button-delete.png" alt="" id = "removeCampaign"></a>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
