<template name="doctorTab">
  <div class="table-cover">
    <div class="fixed thead">
      <table>
        <thead>
          <tr>
            <th class="image"></th>
            <th class="name">Ф.И.О. врача</th>
            <th class="pacients">Пациенты</th>
            <th class="codes">Промо-коды</th>
            <th class="buttons"></th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="fixed table">
      <table>
        <tbody>
        	{{#each doctorList}}
          <tr>
            <th class="image" scope="row">
              <img class="avatar" src="/img-doctor/{{doctor_id}}_doctor.jpg" alt="" id = "photo_{{doctor_id}}">
            </th>
            <td class="name">{{profile.last_name}} {{profile.first_name}} {{profile.mid_name}}</td>
            <td class="pacients">{{stats.count_patient}}</td>
            <td class="codes">{{stats.count_promo_code}}</td>
            <td class="buttons">
              <div class="table-btn-edit"></div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-primary tb-mg-l" id = "add-doctor-btn">
      <img src="img/button-add.png" alt=""> Добавить врача
    </button>
  </div>
</template>
