<template name='editDoctor'>
  <div class="row">
    <div class="col-md-12">
      <div class="block">
        <h1>Редактирование врача</h1> {{#autoForm schema = "Schems.editDoctor" id = "editDoctor" type = "method-update" meteormethod = "editDoctor" class="form-horizontal" doc=this}}
        <div class="form-group{{#if afFieldIsInvalid name='profile.last_name'}} error{{/if}}">
          <label for="last_name" class="col-sm-3 control-label">Фамилия</label>
          <div class="col-sm-9">
            {{> afFieldInput name='profile.last_name' id = 'last_name' placeholder = 'Фамилия' }} {{#if afFieldIsInvalid name='profile.last_name'}}
            <span class="help-block">{{afFieldMessage name='profile.last_name'}}</span> {{/if}}
          </div>
        </div>
        <div class="form-group{{#if afFieldIsInvalid name='profile.first_name'}} error{{/if}}">
          <label for="first_name" class="col-sm-3 control-label">Имя</label>
          <div class="col-sm-9">
            {{> afFieldInput name='profile.first_name' id = 'first_name' placeholder = 'Имя'}} {{#if afFieldIsInvalid name='profile.first_name'}}
            <span class="help-block">{{afFieldMessage name='profile.first_name'}}</span> {{/if}}
          </div>
        </div>
        <div class="form-group{{#if afFieldIsInvalid name='profile.mid_name'}} error{{/if}}">
          <label for="mid_name" class="col-sm-3 control-label">Отчество</label>
          <div class="col-sm-9">
            {{> afFieldInput name='profile.mid_name' id = 'mid_name' placeholder = 'Отчество'}} {{#if afFieldIsInvalid name='profile.mid_name'}}
            <span class="help-block">{{afFieldMessage name='profile.mid_name'}}</span> {{/if}}
          </div>
        </div>
        <div class="form-group">
          <label for="photo" class="col-sm-3 control-label">Фотография</label>
          <div class="col-sm-9">
            <div class="file_upload">
              <button type="button btn-gray">Загрузить файл</button>
              <input type="file" id='imageDoctorInput'>
            </div>
            <!-- <span>Это поле не должно быть пустым</span> -->
          </div>
        </div>
        <img id='imageForCrop' src="/img-doctor/{{doctor_id}}_doctor.jpg?{{random_numb}}">
        <div class="btn-group form-group">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-positive">Сохранить</button>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">ОТМЕНА</button>
          </div>
        </div>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
