<template name="manager">
  <div class="row">
    <div class="col-md-9">
      <img class="user-avatar" src="img/manager-avatar.svg" alt="">
      <div class="user-info">
        <div class="name">{{fio_manager}}</div>
        <div class="status">Менеджер</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="fast-nav">
        <div class="active item" data-header = "doctor">Врачи</div>
        <div class="item" data-header = "campaign" >Акции</div>
      </div>
    </div>
  </div>
  <div class="row mg-b" id = "tabDoctor">
    <div class="col-md-12">
      {{> doctorTab}}
    </div>
  </div>
  <div id = "tabCampaign" class = "hide_block">
    {{>campaignTab}}
  </div>
</template>
