<template name = 'eventLogItem'>
	<tr>
		<td>{{event_code}}</td>
		<td>{{event_date}}</td>
		<td>
			{{#if is_error}}
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			{{else}}
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			{{/if}}
		</td>
		<td>{{description}}</td>
	</tr>
</template>