<template name='eventLogList'>
  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <legend> Логи событий </legend>
        <div class="form-group">
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="input-group">
              <span class="input-group-addon glyphicon glyphicon-search" aria-hidden="true"></span>
              <input type="text" id="code" placeholder="Поиск по коду события" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-top:10px;">
          <div class="col-md-1 col-sm-1 col-xs-4">
            <label for="status" class="control-label">Статус:</label>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <select id='status'>
              <option value="null" selected> Все </option>
              <option value="true"> С ошибкой </option>
              <option value="false"> Без ошибки </option>
            </select>
          </div>
        </div>
        <div class='col-md-6'>
          <div class="form-group">
            <label for="dateFrom" class="control-label">Время от</label>
            <div class='input-group' id='dateFrom'>
              <input class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class='col-md-6'>
          <div class="form-group">
            <label for="dateTo" class="control-label">до</label>
            <div class='input-group' id='dateTo'>
              <input type='text' class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-hover line-clickable">
          <thead>
            <th>Код</th>
            <th>Время</th>
            <th>Статус</th>
            <th>Описание</th>
          </thead>
          <tbody>
            {{#each eventLogList}} {{> eventLogItem}} {{else}} Нет подходящих записей {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
