<template name="adminEdit">
	<div class = "row">
		<div class = "col-md-12">
			<div class="well bs-component">
				{{#autoForm schema = "Schems.adminEdit" id = "updateAdminForm" doc=this type = "method-update" meteormethod = "editAdmin" class="form-horizontal" }}
				<fieldset>
					<legend> Администратор/{{profile.name}} </legend>

					<div class="form-group{{#if afFieldIsInvalid name='name'}} has-error{{/if}}">
						<label for="name" class="col-md-2 control-label">Имя</label>
						<div class="col-md-10">
							{{> afFieldInput name='profile.name' id = 'name' }} 
							{{#if afFieldIsInvalid name='profile.name'}}
							<span class="help-block">{{afFieldMessage name='profile.name'}}</span>
							{{/if}}
						</div>
					</div>

					<div class="form-group{{#if afFieldIsInvalid name='status'}} has-error{{/if}}">
						<label for="status" class="col-md-2 control-label">Статус</label>
						<div class="col-md-10">
							{{> afFieldInput name='status' id = 'status'}} 
							{{#if afFieldIsInvalid name='status'}}
							<span class="help-block">{{afFieldMessage name='status'}}</span>
							{{/if}}
						</div>
					</div>

				</fieldset>
				<div class="form-group">
					<div class="col-md-10 col-md-offset-2"> 
						<button type = "button" class = "btn btn-flat btn-default btn-cancel"> Отменить </button>
						<button type = "button" class = "btn btn-warning btn-remove"> Удалить </button>
						<button type = "submit" class = "btn btn-primary"> Сохранить </button>	
					</div>
				</div>
				{{/autoForm}}
			</div>
		</div>
	</div>
</template>