<template name = "patientList">
<div class="well bs-component">
	<div class = "row">
		<div class = "col-md-12 text-left">
			<h3> Пациенты </h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-12">
			<div class="input-group">
				<span class="input-group-addon glyphicon glyphicon-search" aria-hidden="true"></span>
				<input type = "text" placeholder = "Поиск по ФИО" class="form-control searchByName"> 
			</div>
		</div>
	</div>

	<div class = "row" style="margin-top:20px;">
		<div class = "col-md-12">
			<table class = "table table-striped table-hover">
				<thead>
					<th class = "col-md-4" > ФИО </th>
					<th class = "col-md-2" > Cтатус </th>
					<th class = "col-md-2" > Дата рождения </th>
					<th class = "col-md-2"> Пол </th>
				</thead>
				<tbody>
					{{#each patientList}}
					<tr class="table_line">
						<td class="col-md-4">
						{{#if fio}} {{fio}}{{else}}-{{/if}}
						</td>
						<td class="col-md-2">{{status}}</td>
						<td class="col-md-2">
						{{#if birthdate}}{{birthdateFormat}}{{else}}-{{/if}}
						</td>				
						<td class="col-md-2">
						{{#if gender}}{{genderFormat}}{{else}}-{{/if}}
						</td>
						<td class="col-md-2">
							<button class = "btn-primary diagnosisList"> 
								<span class="glyphicon glyphicon-list-alt" aria-hidden="true"> Диагностика </span>
							</button>
						</td>
					</tr>
					{{else}}
					Записей нет
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
</template>