<template name="intervalMatrix">
	<div class="row">
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
			{{#if currentUser}}
				<div class="row">
					<div class="col-lg-1 col-md-0 col-sm-0 col-xs-0"></div>
					<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading">
									<h3><p class="text-primary text-head">
										Duration of use
									</p></h3>
								</div>
							<div class="panel-body">
								{{#if addMatrix}}	
									<table class="table table-striped table-hover table-matrix-interval">
										<tr>
											<td class="td-matrix-interval">Age from</td>
											<td class="td-matrix-interval">Age to</td>
											<td class="td-matrix-interval">Interval yellow</td>
											<td class="td-matrix-interval">Interval red</td>
										</tr>
									</table>
									<table class="table table-striped table-hover table-matrix-interval">
										<tbody>
											{{#each matrix}}
												{{> itemMatrix}}
											{{/each}}					
										
											{{#autoForm schema = "Schems.intervalMatrix" id = "newMatrix" autosaveOnKeyup = true trimStrings = false }}
												<tr>
													<td class="td-matrix-interval" style="border:1px solid #ccc">
														<div id="matrix-input-new">
															{{> afQuickField name = 'age_from'}}
														</div>
													</td>
													<td class="td-matrix-interval" style="border:1px solid #ccc">
														<div id="matrix-input-new">
															{{> afQuickField name = 'age_to'}}
														</div>
													</td>
													<td class="td-matrix-interval" style="border:1px solid #ccc">
														<div id="matrix-input-new">
															{{> afQuickField name = 'yellow'}}
														</div>
													</td>
													<td class="td-matrix-interval" style="border:1px solid #ccc">
														<div id="matrix-input-new">
															{{> afQuickField name = 'red'}}
														</div>
													</td>	
													<td class="td-matrix-interval-last">
													</td>
												</tr>
											{{/autoForm}}
										</tbody>
									</table>
									<div class="matrix-interval-btn">
										<a href="" id="cancel-matrix" class="btn btn-primary btn-fab btn-raised mdi-content-undo"></a>
									</div>
								{{else}}
									<table class="table table-striped table-hover table-matrix-interval">
										<tr>
											<td class="td-matrix-interval">Age from</td>
											<td class="td-matrix-interval">Age to</td>
											<td class="td-matrix-interval">Interval yellow</td>
											<td class="td-matrix-interval">Interval red</td>
											<td class="td-matrix-interval-last"></td>
										</tr>
									</table>
									<table class="table table-striped table-hover table-matrix-interval">
										
											{{#each matrix}}
												{{> itemMatrix}}
											{{/each}}
										
									</table>
									<div class="matrix-interval-btn">
										<a href="" id="add-matrix" class="btn btn-primary btn-fab btn-raised mdi-content-add"></a>
									</div>
								{{/if}}
								
							</div>
						</div>
					</div>
					<div class="col-lg-1 col-md-0 col-sm-0 col-xs-0"></div>
				</div>
			{{else}}
				<h1><p class="text-danger text-head">
					Please log in!
				</p></h1>
			{{/if}}
		</div>
		<div class="col-lg-3"></div>
	</div>
</template>





			
		