<template name="itemMatrix">
	{{#autoForm schema = "Schems.intervalMatrix" id = _id autosaveOnKeyup = true trimStrings = false}}
		<tr id={{_id}}>
			<td class="td-matrix-interval">
				<div id="matrix-input">
					{{> afQuickField name = 'age_from' value=initMatrix.age_from}}
				</div>
			</td>
			<td class="td-matrix-interval">
				<div id="matrix-input">
					{{> afQuickField name = 'age_to' value=initMatrix.age_to}}
				</div>
			</td>
			<td class="td-matrix-interval">
				<div id="matrix-input">
					{{> afQuickField name = 'yellow' value=initMatrix.interval_yellow}}
				</div>
			</td>
			<td class="td-matrix-interval">
				<div id="matrix-input">
					{{> afQuickField name = 'red' value=initMatrix.interval_red}}
				</div>
			</td>	
			<td id="delete" class="btn-delete-tab td-matrix-interval-last">
				<div class="icon-preview">
					<a href="" class="remove-matrix"><i class="mdi-content-clear"></i></a>
				</div>
			</td>
		</tr>
	{{/autoForm}}
</template>

