<template name="clinicEdit">
	<div class = "row">
		<div class = "col-md-12">
			<div class="well bs-component">
				{{#autoForm collection = "Collection.Clinic" id = "updateClinicForm" doc=this type = "method-update" meteormethod = "editClinic" class="form-horizontal" }}
				<fieldset>
					<legend> Клиника/{{name}} </legend>
					<div class="form-group{{#if afFieldIsInvalid name='name'}} has-error{{/if}}">
						<label for="name" class="col-md-2 control-label">Название:</label>
						<div class="col-md-10">
							{{> afFieldInput name='name' id = 'name' }} 
							{{#if afFieldIsInvalid name='name'}}
							<span class="help-block">{{afFieldMessage name='name'}}</span>
							{{/if}}
						</div>
					</div>
					<div class="form-group{{#if afFieldIsInvalid name='paid_up'}} has-error{{/if}}">
						<label for="paid_up" class="col-md-2 control-label">Оплачено до:</label>
						<div class="col-md-10">
							{{> afFieldInput name='paid_up' id = 'paid_up'}} 
							{{#if afFieldIsInvalid name='paid_up'}}
							<span class="help-block">{{afFieldMessage name='paid_up'}}</span>
							{{/if}}
						</div>
					</div>
					<div class="form-group{{#if afFieldIsInvalid name='status'}} has-error{{/if}}">
						<label for="status" class="col-md-2 control-label">Статус:</label>
						<div class="col-md-10">
							{{> afFieldInput name='status' id = 'status'}} 
							{{#if afFieldIsInvalid name='status'}}
							<span class="help-block">{{afFieldMessage name='status'}}</span>
							{{/if}}
						</div>
					</div>
					<div class="form-group{{#if afFieldIsInvalid name='phone'}} has-error{{/if}}">
						<label for="phone" class="col-md-2 control-label">Телефон:</label>
						<div class="col-md-10">
							{{> afFieldInput name='phone' id = 'phone'}} 
							{{#if afFieldIsInvalid name='phone'}}
							<span class="help-block">{{afFieldMessage name='phone'}}</span>
							{{/if}}
						</div>
					</div>
				</fieldset>
				<div class="form-group">
					<div class="col-md-10 col-md-offset-2"> 
						<button type = "button" class = "btn btn-flat btn-default btn-cancel"> Отменить </button>
						<button type = "button" class = "btn btn-warning btn-remove"> Удалить </button>
						<button type = "submit" class = "btn btn-primary"> Сохранить </button>	
					</div>
				</div>
				{{/autoForm}}
			</div>
		</div>
	</div>

	{{>employeeList}}
</template>