<template name = "employeeList">
<div class="well bs-component">
	<div class = "row">
			<div class = "col-md-12 text-left">
				<h3> Сотрудники </h3>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-12 text-left">
				<table class = "table table-striped table-hover">
					<thead>
						<th class = "col-md-6" > ФИО </th>
						<th class = "col-md-3"> Роль </th>
						<th class = "col-md-3"> Статус </th>
					</thead>
					<tbody>
						{{#each employeeList}}
						{{> employeeItem}}
						{{else}}
						Нет подходящих записей
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-12">
				<button type = "button" class = "btn btn-primary" id = 'add-button-employee'> Добавить </button>
			</div>
		</div>
</div>
</template>