<template name = "employeeItem">
	<tr class = "line-table">
		<td class = "col-md-6">
			{{profile.last_name}}	{{profile.first_name}} {{profile.mid_name}}
		</td>
		<td class = "col-md-3">
			{{roleText}}
		</td>	
		<td class = "col-md-3">
			{{statusText}}
		</td>	
	</tr>
</template>