<template name="generateSession">
  <form>
    <label for="patientId">id пациента</label>
    <input type="text" id="patientId" value="f88e20268df9559e238f9c6d">
    <label for="patientId">Количество сессий</label>
    <input type="text" id="countSession" value="1">
    <label for="dateBegin">Начало промежутка</label>
    <input type="date" id="dateBegin">
    <label for="dateEnd">Окончание промежутка</label>
    <input type="date" id="dateEnd">
  </form>
  <button> Генерация </button>
</template>
