.hide_block {
    display: none;
}

.modal {
    z-index: 1050 !important;
}

#imageForCrop {
    display: none;
}

#spiffygif {
    width: 30px;
    height: 30px;
    padding-left: 0px;
    position: relative;
    left: -459px;
    top: 90px;
}

.campaign_image {
    max-width: 196px;
    max-height: 97px;
}

#header-phone {
    height: 40px;
    background-color: #2786c1;
}

#header-text-phone {
    /*font-size:26px;*/
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    color: rgba(255, 255, 255, .4);
}

#body-phone {
    background-color: white;
    margin: 10px;
    height: 300px;
}

#date-phone {
    font-size: 10px;
    text-align: left;
    padding-top: 8px;
    margin-left: 10px;
    color: #9b9b9b;
}

#title-phone {
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    padding-top: 8px;
    color: rgba(73, 73, 73, 0.87);
}

#img-phone {
    padding-top: 8px;
    max-height: 112px;
    max-width: 207px;
}

#text-phone {
    text-align: left;
    margin-left: 10px;
    padding-top: 8px;
    color: #9b9b9b;
    line-height: 1;
    font-size: 12px;
}

#btn-phone {
    width: 120px;
    height: 35px;
    padding-top: 8px;
    margin-left: 40px;
    text-align: center;
}

#btn-phone > button {
    padding: 0px;
}

@media print {
    header,
    footer,
    nav {
        display: none !important;
    }
}
   
    .print-promo-code-left {
        float: left;
        width: 65%;
        padding-left:40pt;
        padding-right:40pt;
        padding-top: 40pt;
    }
    .print-promo-code-right {
        float: left;
        width: 35%;
        padding-top: 40pt;
    }
    .print-promo-code-right > img {
        width:100%;
    }

    .print-promo-code-right > p {
        padding-top: 30mm;
        padding-bottom:15mm; 
        text-align:center;
    }
    .font-24 {
        font-size:24pt;
        font-family:'Roboto';
        font-weight: 400;
    }
    .font-14 {
        font-size:14pt;
        font-family:'Roboto';
        font-weight: 400;
    }
    .font-72 {
        font-size: 72pt;
        font-family:'Roboto';
        font-weight: 700;
    }
    .qr-code {
        margin:auto;
        border: 1pt solid black;
        height: 50mm;
        width: 50mm;
    }
