* html .wrap {
    height: 100%;
}

.landing-page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eff3f6;
    font-family: "Roboto";
    $imp:               !important;
    $active-color:      #4a90e2;
    $text-color:        #888888;
    $big-text-size:     18px;
    $text-size:         16px;
    $small-text-size:   14px;
    $huge-text-size:    33px;
    $basic-color-1:     #ffffff;
    $primary-color:     #2787c2;
    .wrap{
        min-height: 741px;
        margin-bottom: -53px;
    }

    .buffer {
        height: 53px;
        margin-top: 53px;
    }

    .header-buffer {
        margin-bottom: 61px;
    }

    .no-mobile {
        display: none;
    }

    footer {
        background-color: $basic-color-1;
        height: 53px;
        color: #bbbbbb;
        line-height: 53px;
        .name {
            font-size: 15px;
        }
        .copy {
            font-size: 10px;
            line-height: 9px;
        }
        .name, .copy {
            vertical-align: middle;
        }
    }


    header {
        height: 74px;
        background-color: white;
        border-bottom: 1px solid #dedede;
        .btn.btn-outline {
            margin: 4px 0;
        }
    }

    .btn.btn-outline {
        color: #bbbbbb;
        padding: 3px 15px 3px 30px;
        position: relative;
        .key {
            background-image: url('../img/icon-key-grey.png');
            position: absolute;
            top: 0;
            bottom: 0;
            left: 10px;
            height: 17px;
            width: 18px;
            margin: auto;
        }
        .add-icon {
            background-image: url('../img/icon-add.png');
            position: absolute;
            top: 0;
            bottom: 0;
            left: 10px;
            height: 18px;
            width: 18px;
            margin: auto;
        }
    }
    .btn.btn-outline:hover {
        color: $primary-color $imp;
        border-color: $primary-color;
    }

    .btn.btn-outline:hover .key {
        background-image: url('../img/icon-key-blue.png');    
    }
    .btn.btn-outline:hover .add-icon {
        background-image: url('../img/icon-add-hover.png');
    }

    .container {
        width: 1024px;
        margin: auto;
    }

    .big.headline {
        font-size: $huge-text-size;
        font-weight: 300;
        color: $text-color;
        margin-bottom: 34px;
    }

    .reviews-block {
        width: 644px;
        margin: auto;
    }

    .clinics-row.row .col-md-6 {
        padding: 0;
    }

    .btn-outline.btn-gray {
        background: transparent;
        padding: 12px 26px 12px 42px;
        display: block;
        width: 185px;
        margin: auto;
        border: 2px solid #888888;
        margin-bottom: 55px;
    }

    .mg-btm-3 {
        margin-bottom: 55px;
    }

    .clincics-row.row .col-md-6 {
        padding: 0;
    }

    .clinic-review {
        padding-bottom: 22px;
        margin-bottom: 27px;
        border-bottom: 1px solid #dfe1e3;
        .avatar, .content {
            display: inline-block;
            vertical-align: top;
        }
        .avatar {
            margin-right: 20px;
        }
        .content {
            .name {
                color: $primary-color;
                font-size: 13px;
                line-height: 20px;
            }
            .status {
                color: #bbbbbb;
                margin-bottom: 12px;
            }
            .text {
                color: $text-color;
                font-size: 13px;
                line-height: 17px;
            }
            width: 265px;
        }
    }

    .short-form {
        width: 315px;
        text-align: center;
        margin: auto;
        form {
            width: 230px;
            margin: auto;
            text-align: left;
            label {
                font-size: 15px;
                font-weight: normal;
                color: $text-color;
            }
        }
    }

    .header-buffer.small-mg {
        margin-bottom: 30px;
    }

    .short-form .form-group {
        width: 100%;
    }

    .outline.block {
        max-width: 580px;
        width: 100%;
        margin: auto;
        margin-bottom: 47px;
        padding: 42px 127px;
        border: 12px solid #ffffff;
        p {
            font-size: 13px;
            color: $text-color;
            line-height: 18px;
            width: 300px;
            margin: auto;
            text-align: left;
        }
    }

    .review {
        padding-bottom: 9px;
        margin-bottom: 9px;
        border-bottom: 1px solid #dfe1e3;
        .avatar, .content {
            display: inline-block;
            vertical-align: top;
        }
        .avatar {
            margin-right: 14px
        }
        .content {
            width: 560px;
            color: $text-color;
            .name, .subject {
                font-size: 13px;
                color: $primary-color;
            }
            .breaker {
                margin: 0 6px;
            }
            .name {
                font-weight: bold;
            }
            p {
                font-size: 13px;
                line-height: 17px;
                margin-top: 6px;
            }
            .meta-data {
                font-size: 13px;
                a {
                    color: $text-color;
                }
            }
        }
    }

    .rounded-button {
        padding: 5px 33px 5px 15px;
        font-size: 15px;
        color: #bbbbbb;
        background-color: #ffffff;
        border-radius: 19px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        .arrow-down {
            position: absolute;
            right: 10px;
            background: url(../img/icon-down.png);
            top: 0px;
            width: 18px;
            height: 11px;
            bottom: 0px;
            margin: auto;
        }
    }

    .rounded-button:hover {
        background-color: $primary-color;
        color: white;
    }

    .rounded-button:hover .arrow-down {
        background: url(../img/icon-down-hover.png);
    }

    .h-500 {
        height: 450px;
    }

    .play-button {
        width: 250px;
        position: absolute;
        right: 0;
        bottom: -30px;
        cursor: pointer;
        .play {
            background-image: url(../img/button-video.png);
            width: 109px;
            height: 109px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
        }
        .text {
            display: inline-block;
            vertical-align: middle;
            color: $text-color;
            font-size: 15px;
        }
    }

    .play-button:hover .play {
        background-image: url(../img/button-video-hover.png);
    }

    .play-button:hover .text {
        color: $primary-color;
    }

    .illustration {
        position: absolute;
        right: -140px;
        z-index: 2;
        top: 70px;
    }

    .very.huge.text {
        font-size: 51px;
        line-height: 52px;
        color: #bbbbbb;
        font-weight: 100;
        margin-bottom: 32px;
        position: relative;
        img {
            width: 55%;
            position: absolute;
            top: 5px;
            left: 0;
            height: inherit;
        }
    }

    .align-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        height: 130px;
        width: 205px;
    }

    .info-text {
        font-size: 13px;
        line-height: 18px;
        color: #bbbbbb;
    }

    .play-button {

    }

    .blue.headline {
        color: #2787c2;
    }

    .navbar-default {
        height: 74px;
        background: #ffffff;
    }

    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
        padding: 0;
        margin-top: 2px;
    }

    .navbar-nav>li {
        padding: 16px 0;
        margin-left: 26px;
    }

    .navbar-nav>li>a {
        padding: 5px 12px;
    }

    .mg-b {
        margin-bottom: 9px;
    }

    .clinic-name {
        color: $active-color;
        line-height: 20px;
        padding: 15px 28px; 
    }

    .passive-button {
        font-size: $small-text-size;
        color: #bbbbbb;
        padding: 6px 32px;
        border: 1px solid #bbbbbb;
        width: 194px;
        margin: auto;
        border-radius: 2px;
        position: relative;
        height: 34px;
    }

    .soon-flag {
        position: absolute;
        right: -62px;
        background: url('../img/bg-soon.png');
        height: 20px;
        width: 62px;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 10px;
        color: #ffffff;
        text-transform: uppercase;
        padding: 3px 8px;
        text-align: left;
    }

    .mg-btm {
        margin-bottom: 20px;
    }

    .mg-btm-2 {
        margin-bottom: 33px;
    }

    .small.headline {
        font-weight: normal;
        font-size: 15px;
        color: $text-color;
        margin: 0;
        margin-bottom: 10px;
    }

    .text-big {
        font-size: $big-text-size;
        color: $text-color;
    }

    .text-small {
        font-size: 11px;
        color: $text-color;
    }

    .user-avatar {
        margin-right: 3px;
        padding: 9px 0;
    }

    .user-info {
        display: inline-block;
        vertical-align: bottom;
        padding: 9px 0;
        .name {
            color: $text-color;
            font-size: 15px;
        }
        .status {
            font-size: 12px;
            color: #bbbbc3;
        }
    }

    .huge.btn {
        padding: 13px 31px;
        font-size: 20px;
    }

    .huge.btn:hover {
        background-color: #ee514a;
        color: #ffffff;
    }

    .btn-primary {
        background-color: $primary-color;
        border: none;
    }

    .btn-primary:focus {
        background-color: $primary-color;
        box-shadow: none;
    }

    .btn-primary:hover {
        background-color: #2A80E3;
        color: #B9D1EC;
    }

    h1 {
        margin: 0;
        font-size: 22px;
        color: #5d5d5d;
        margin-bottom: 20px;
    }

    .fluid {
        width: 100%;
    }

    textarea {
        resize: none;
        font-size: $small-text-size;
        padding: 11px 13px;
        color: #c9c9c9;
    }

    .form-horizontal .control-label {
        text-align: left;
        font-size: $text-size;
        color: $text-color;
    }

    .form-control {
        border: 2px solid #eaeaea;
        border-radius: 2px;
        font-size: $text-size;
        color: $text-color;
        padding: 8px 18px;
    }

    .short-form .form-group {
        width: 370px;
    }

    .short-form .form-group {
        width: 100%;
    }

    .form-control {
        font-size: 14px;
    }

    .btn-positive {
        font-size: $small-text-size;
        color: #ffffff;
        background-color: #4bcfbe;
        padding: 5px 38px;
    }

    .btn-positive:hover, .btn-positive:focus {    
        font-size: $small-text-size; 
        color: #9BF4E9;
    }

    .btn-gray {
        background-color: #a7adb5;
        color: white;
        height: 100%;
        font-size: 11px;
        line-height: 8px;
        padding: 10px 17px;
        border: none;
        border-radius: 2px;
    }

    .btn {
        border-radius: 2px;
        padding: 7px 24px;
    }

    hr {
        margin: 0;
        border-width: 2px;
    }

    .mg-t {
        margin-top: 15px;
    }

    .left {
        text-align: left $imp;
    }

    .right {
        text-align: right $imp;
    }

    .gray.link {
        color: $text-color;
    }

    tr {
        cursor: pointer;
    }

    tr:hover {
        background-color: #e9ecf0;
    }

    .pacients.table table tbody tr td {
        vertical-align: top;
    }

    .center {
        text-align: center;
    }

    .mg-t-n-2 {
        margin-top: -2px;
    }

    .link {
        text-decoration: underline;
    }

    ::-webkit-scrollbar {
        width:6px;
        height:6px;
        cursor:pointer;
    }
    ::-webkit-scrollbar-track-piece {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb:vertical {
        height:6px;
        background-color: rgba(0, 0, 0, 0.32);
        cursor:pointer;
        padding: 0 8px;
        border-radius: 3px;
    }
    ::-webkit-scrollbar-thumb:horizontal {
        width:6px;
        background-color: #171723;
        cursor:pointer;
        border-radius: 3px;
    }
    .error ::-webkit-input-placeholder {color:#fd9d9a;}
    .error ::-moz-placeholder          {color:#fd9d9a;}/* Firefox 19+ */
    .error :-moz-placeholder           {color:#fd9d9a;}/* Firefox 18- */
    .error :-ms-input-placeholder      {color:#fd9d9a;}

    ::-webkit-input-placeholder {color:#EAEAEA;}
    ::-moz-placeholder          {color:#EAEAEA;}/* Firefox 19+ */
    :-moz-placeholder           {color:#EAEAEA;}/* Firefox 18- */
    :-ms-input-placeholder      {color:#EAEAEA;}

    input, textarea {
        border-radius: 2px;
    }

    .form-control {
        box-shadow: 0px 0px 4px 0px transparent;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
    }

    .form-control:focus {
        -webkit-box-shadow: 0px 0px 4px 0px $active-color;
        -moz-box-shadow: 0px 0px 4px 0px $active-color;
        box-shadow: 0px 0px 4px 0px $active-color;
        border-color: #eaeaea;
    }

    .error .form-control {
        border-color: #fd9d9a;
        margin-bottom: 6px;
    }

    .error input, textarea {
        color: #fd9d9a;
    }

    .form-group span {
        display: none;
    }

    .error span {
        color: #fd9d9a;
        display: block;
        font-size: $small-text-size;
    }

    .item {
        .title {
            font-size: 22px;
            color: #5d5d5d;
        }
        .meta {
            font-size: $big-text-size;
            color: $text-color;
        }
    }

    h3 {
        font-size: $text-size;
        color: #989898;
    }

    .float-left {
        float: left;
    }

    .text-blue {
        color: $active-color;
    }

    .text-red {
        color: #d0021b;
    }
    .aligned-middle {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }

    .desktop-none {
        display: none;
    }

    .navbar-brand .text-big, .navbar-brand .text-small {
        display: none;
    }

    @media (min-width: 320px) and (max-width: 1024px) {
        .outline.block {
            padding: 30px;
        }
        .col-xs-12 {
            padding: 0;
        }
        .big.headline {
            font-size: 22px;
            padding: 0px 16px;
        }
        .huge.btn {
          padding: 8px 21px;
          font-size: 14px;
        }
        .header-buffer {
          margin-bottom: 35px;
        }
        .soon-flag {
            left: -10px;
            right: auto;
            top: auto;
            bottom: -14px;
        }
        .small.headline {
            font-size: 17px;
            text-align: left;
        }
        .outline.block p {
            font-size: 15px;
            width: initial;
        }
        .navbar-default .navbar-toggle {
            display: none;
        }
        .navbar-default .navbar-brand {
            width: 100%;
            text-align: center;
        }
        .navbar-default .navbar-brand img {
            display: inline-block;
        }
        .desktop-none {
            display: block;
        }
        .rounded-button {
            display: none;
        }
        .play-button {
            width: 250px;
            position: relative;
            margin: auto;
        }
        .align-cover {
            position: relative;
            width: 205px;
            text-align: center;
        }
        .play-button .text {
            display: block;
        }
        .play-button {
            width: 115px;
        }
        .reviews-block {
            max-width: 480px;
            width: 100%;
        }
        .review .content {
            width: 320px;
        }
        #section1 .big.headline {
            margin-top: 3em;
        }
        .clinic-review .avatar, .clinic-review .content, .review .avatar, .review .content     {
            display: block;
        }
        .review .content {
            width: 100%;
        }
        .review .content .breaker {
            display: none;
        }
        .review .content .name, .review .content .subject {
            width: 100%;
            text-align: center;
            display: block;
        }
        .review .avatar {
            text-align: center;
            margin-bottom: 12px;
        }
        .review {
            margin-bottom: 30px;
        }
        .review .content .meta-data a, .review .content .meta-data .date {
            color: #bbbbbb;
        }
        .play-button .text {
            margin-top: 8px;
        }
        .navbar-fixed-bottom .col-md-12 {
            text-align: center;
        }
        .navbar-brand .text-big, .navbar-brand .text-small {
            display: block;
            width: 100%;
            text-align: center;
        }
        .navbar-default {
            height: 109px;
        }
        .header-buffer {
            height: 35px;
        }
        .navbar-brand img {
            margin-bottom: 9px;
        }
        .navbar-fixed-top, .navbar-fixed-bottom {
            position: relative;
        }
        .btn.btn-outline.btn-block {
            text-align: right;
        }
        .btn.btn-outline.btn-block .key {
            position: absolute;
            right: 130px;
            left: auto;
        }
        .nav.navbar-nav.navbar-right {
            display: none;
        }
    }

    @media (min-width: 320px) and (max-width: 1024px) {
        .h-500 {
            display: none;
        }
        .container {
            max-width: 768px;
            width: 100%;
        }
    }
}