* html .wrap {
    height: 100%;
}

.basic-page {
    min-width: 1024px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eff3f6;
    font-family: "Roboto";
    $imp:               !important;
    $active-color:      #4a90e2;
    $text-color:        #888888;
    $big-text-size:     18px;
    $text-size:         16px;
    $small-text-size:   14px;
    $basic-color-1:     #ffffff;   
    .wrap{
        min-height: 741px;
        margin-bottom: -53px;
    }

    .buffer {
        height: 53px;
        margin-top: 53px;
    }

    .container {
        min-width: 1024px;
    }

    .no-mobile {
        display: none;
    }

    footer {
        background-color: $basic-color-1;
        height: 53px;
        color: #bbbbbb;
        line-height: 53px;
        .name {
            font-size: 15px;
        }
        .copy {
            font-size: 10px;
            line-height: 9px;
        }
        .name, .copy {
            vertical-align: middle;
        }
    }


    header {
        height: 50px;
        background-color: white;
        border-bottom: 1px solid #dedede;
    }

    .container {
        width: 1024px;
        margin: auto;
    }

    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
        background: $active-color;
        color: #f2f2f2;
        font-size: $big-text-size;
    }

    .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
        color: #cfcfcf;
    }

    .navbar-nav>li>a.active {
        color: $active-color;
    }

    .navbar-nav>li>a:hover {
        color: $active-color;
    }

    .mg-b {
        margin-bottom: 9px;
    }

    .clinic-name {
        color: $active-color;
        line-height: 20px;
        padding: 15px 28px; 
    }

    .user-avatar {
        margin-right: 3px;
        padding: 9px 0;
    }

    .user-info {
        display: inline-block;
        vertical-align: bottom;
        padding: 9px 0;
        .name {
            color: $text-color;
            font-size: 15px;
        }
        .status {
            font-size: 12px;
            color: #bbbbc3;
        }
    }

    .table-cover {
        background-color: $basic-color-1;
        padding: 27px 0;
        border-radius: 2px;
        height: 526px;
    }

    .table {
        height: 375px;
        overflow: auto;
    }

    .tb-mg-l {
        margin-left: 25px;
    }

    table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        thead {
            th {
                color: #bbbbbb;
                font-size: $small-text-size;
                text-align: right;
                padding-bottom: 8px;
                padding-left: 8px;
                padding-right: 8px;
                border-bottom: 2px solid #d5d5d5;
                font-weight: normal;
            }
            .name {
                text-align: left;
            }
        }
        tbody { 
            tr {
                th {
                    text-align: right;
                    border-color: transparent;
                    padding: 15px 8px;
                }
                td {
                    vertical-align: middle;
                    text-align: right;
                    font-size:  $text-size;
                    color: $text-color;
                    padding: 15px 8px;
                    border-color: transparent;
                    .table-btn-edit {
                        background-image: url(../img/icon-edit.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        height: 24px;
                        width: 34px;
                        margin: auto;
                        cursor: pointer;

                    }
                    .table-btn-edit:hover {
                        background-image: url(../img/icon-edit-hover.png);
                    }
                }
                .positive { 
                    color: #73e8d9;
                }
                .negative {
                    color: #fd9d9a;
                }
                .name {
                    text-align: left;
                    font-size: $big-text-size;
                }
            }
        }
        .avatar { 
            width: 39px;
            height: 39px;
            border-radius: 50%;
        }
    }

    .fast-nav {
        float: right;
        .item {
            display: inline-block;
            vertical-align: middle;
            padding: 23px 28px;
            font-size: $big-text-size;
            color: $text-color;
            cursor: pointer;
        }
        .active.item {
            border-top: 3px solid #fe6d69;
            color: #fe6d4b;
        }
        .item:hover {
            color: #fe6d4b;
        }
    }

    .btn-primary {
        background-color: $active-color;
        border: none;
    }

    .btn-primary:focus {
        background-color: $active-color;
        box-shadow: none;
    }

    .btn-primary:hover {
        background-color: #2A80E3;
        color: #B9D1EC;
    }

    .block {
        background-color: $basic-color-1;
        border-radius: 3px;
        padding: 36px 41px;
    }

    h1 {
        margin: 0;
        font-size: 22px;
        color: #5d5d5d;
        margin-bottom: 20px;
    }

    .fluid {
        width: 100%;
    }

    textarea {
        resize: none;
        font-size: $small-text-size;
        padding: 11px 13px;
        color: #c9c9c9;
    }

    .form-horizontal .control-label {
        text-align: left;
        font-size: $text-size;
        color: $text-color;
    }

    .form-control {
        border: 2px solid #eaeaea;
        border-radius: 2px;
        font-size: $text-size;
        color: $text-color;
        padding: 8px 18px;
    }

    .short-form .form-group {
        width: 370px;
    }

    .btn-positive {
        font-size: $small-text-size;
        color: #ffffff;
        background-color: #4bcfbe;
        padding: 5px 38px;
    }

    .btn-positive:hover, .btn-positive:focus {    
        font-size: $small-text-size; 
        color: #9BF4E9;
    }

    .photo {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        margin-bottom: $small-text-size;
    }

    .file_upload{
        position: relative;
        overflow: hidden;
        font-size: 1em;        /* example */
        height: 2em;           /* example */
        line-height: 2em       /* the same as height */
    }

    .file_upload > button{
        width: 160px;
        height: 32px;
        background-color: #a7adb5;
        color: white;
        height: 100%;
        font-size: 11px;
        line-height: 8px;
        padding: 10px 17px;
        border: none;
        border-radius: 2px;
    }

    .file_upload:hover > button {
        background-color: #6F7D90;
    }

    .btn-gray {
        background-color: #a7adb5;
        color: white;
        height: 100%;
        font-size: 11px;
        line-height: 8px;
        padding: 10px 17px;
        border: none;
        border-radius: 2px;
    }

    .file_upload > div{
        padding-left: 1em      /* example */
    }

    .file_upload input[type=file]{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: scale(20);
        letter-spacing: 10em;     /* IE 9 fix */
        -ms-transform: scale(20); /* IE 9 fix */
        opacity: 0;
        cursor: pointer
    }

    .btn {
        border-radius: 2px;
        padding: 7px 24px;
    }

    .modal-header {
        border: none;
    }

    .modal-content {
        padding: 31px 41px;
    }

    .btn-group {
        margin-top: 34px;
    }

    .btn-close {
        background: none;
        border: none;
        color: $text-color;
        font-size: $small-text-size;
        height: 32px;
        padding: 6px 33px;
    }

    .user-avatar {
        height: 54px;
        width: 54px;
        padding: 0;
        margin: 9px 0;
        margin-right: 3px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        display: inline-block;
    }

    label.title {
        font-size: $text-size;
        font-weight: normal;
        color: $text-color;
    }

    label.control-label {
        font-weight: normal;
    }

    hr {
        margin: 0;
        border-width: 2px;
    }

    .blocks {
        display: table;
        margin: 15px 0;
        .mini-block {
            width: 50%;
            display: table-cell;
            vertical-align: middle;
        }
        .hint-block {
            background-color: #e9ecf0;
            font-size: 11px;
            color: #8b8b8b;
            padding: 11px 23px;
            height: 96px;
        }
        .action-block {
            background-color: $basic-color-1;
            text-align: center;
            position: relative;
            .code {
                position: absolute;
                width: 100%;
                height: 130px;
                background-color: $basic-color-1;
                color: #5d5d5d;
                font-size: 28px;
                text-align: center;
                padding: 23px 40px;
                display: none;
                top: 90px;
                z-index: 2;
                box-shadow: 0px 7px 9px 0px rgba(0,0,0,0.25);
                -webkit-box-shadow: 0px 7px 9px 0px rgba(0,0,0,0.25);
                -moz-box-shadow: 0px 7px 9px 0px rgba(0,0,0,0.25);
                .text {
                    margin-bottom: 7px;
                }
            }
        }
    }

    .h-a {
        height: auto;
    }

    .btn-short {
        padding: 5px 24px;
    }

    .print-btn {
        font-size: 11px;
        width: 124px;
    }

    .mg-t {
        margin-top: 15px;
    }

    .left {
        text-align: left $imp;
    }

    .right {
        text-align: right $imp;
    }

    .pd-t-0 {
        padding-top: 0;
    }

    .responsive-img {
        width: 100%;
        height: auto;
    }

    .gray.link {
        color: $text-color;
    }

    table.all-to-top tbody tr td {
        vertical-align: top;
    }

    .tab-buttons {
        .active.button {
            background-color: $basic-color-1;
        }
        .button {
            display: inline-block;
            padding: 9px 23px;
            font-size: $big-text-size;
            color: $text-color;
            background-color: #F8F9FB;
            cursor: pointer;
            span {
                vertical-align: middle
            }
            span.meta.active {
                background-color: #FE6D4B;
                color: #ededed;
            }
            span.meta {
                background-color: #B5B5B5;
                color: #ffffff;
                border-radius: $text-size;
                font-size: 12px;
                padding: 2px;
            }
        }
    }

    tr {
        cursor: pointer;
    }

    tr:hover {
        background-color: #e9ecf0;
    }

    .pacients.table table tbody tr td {
        vertical-align: top;
    }

    .table-btn-watch {
        background-image: url(../img/icon-card.png);
        background-position: center;
        background-repeat: no-repeat;
        height: 24px;
        width: 34px;
        margin-right: auto;
        cursor: pointer;

    }
    .table-btn-watch:hover {
        background-image: url(../img/icon-card-hover.png);
    }

    .btn-small {
        height: 24px;
        font-size: $small-text-size;
        padding: 2px 9px;
    }

    .btn-default {
        background-color: #d0d0d0;
        color: #ffffff;
        border: none;
    }

    .btn-default:hover {
        background-color: #4bcfbe;
        color: #ffffff;
    }

    .center {
        text-align: center;
    }

    .btn-outline {
        text-decoration: none;
        border: 2px solid #eaeaea;
        font-size: $small-text-size;
        color: #8b8b8b;
        img {
            margin-left: 3px;
        }
    }

    .hided {
        display: none;
        opacity: 0;
    }

    .phone-block {
        text-align: center;
        padding: 37px;
        .phone {
            background-image: url('../img/IPHONE-5S.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 261px;
            height: 548px;
            margin: auto;
            position: relative;
            .view {
                position: absolute;
                width: 87%;
                border-radius: 5px;
                background-color: rgb(238,238,238);
                top: 63px;
                left: 0;
                right: 0;
                bottom: 70px;
                height: 100px;
                height: 73%;
                margin: auto;
            }
        }
        .text {
            font-size: $text-size;
            color: $text-color;
            margin-top: 17px;
        }
    }

    .mg-t-n-2 {
        margin-top: -2px;
    }

    .close-btn {
        font-size: $small-text-size;
        color: $text-color;
        margin-top: -24px $imp;
    }

    .link {
        text-decoration: underline;
    }

    .panel-group .panel+.panel, .panel-group .panel {
        border: none;
        box-shadow: none;
    }

    .panel-default>.panel-heading {
        background: transparent;
        font-size: $big-text-size;
        color: $text-color;
        border-color: transparent;
        padding-left: 0;
    }

    .panel-default>.panel-heading+.panel-collapse>.panel-body {
        color: $text-color;
        font-size: $text-size;
        border-color: transparent;
    }

    .panel-title>a.collapsed {
        color: $active-color;
    }

    .fixed.table {
        margin-bottom: 8px;
    }

    .fixed.thead {
        margin-bottom: 0px;
    }

    .fixed.table, .fixed.thead {
        table-layout: fixed;
        .image {
            width: 7%;
        }
        .name {
            width: 23%;
        }
        .long.name {
            width: 30%;
            padding-left: 38px;
        }
        .pacients, .codes {
            width: 12%;
        }
        .result-1, .result-2 {
            width: 17%;
        }
        .conclusion {
            width: 35%;
        }
        .buttons {
            width: 10%;
        }
        .invite {
            width: 20%;
        }
        .short.age {
            width: 12%;
        }
        .results {
            width: 15%;
        }
        .comment {
            width: 25%;
            padding-left: 25px !important;
            font-size: $small-text-size;
        }
        .all-pacients>tbody>tr>td {
            border: none;
        }
        .all-pacients .name {
            padding-left: 30px;
        }
    }

    .search-input {
        margin: 0;
        margin-bottom: 20px;
        height: 33px;
        margin-left: 15px;
    }

    .search-input .close-button {
        background-image: url(../img/button-clear.png);
        width: 21px;
        height: 21px;
        position: absolute;
        right: 21px;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
    }

    .search-input .close-button:hover {
        background-image: url(../img/button-delete.png);
    }

    ::-webkit-scrollbar {
        width:6px;
        height:6px;
        cursor:pointer;
    }
    ::-webkit-scrollbar-track-piece {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb:vertical {
        height:6px;
        background-color: rgba(0, 0, 0, 0.32);
        cursor:pointer;
        padding: 0 8px;
        border-radius: 3px;
    }
    ::-webkit-scrollbar-thumb:horizontal {
        width:6px;
        background-color: #171723;
        cursor:pointer;
        border-radius: 3px;
    }
    .error ::-webkit-input-placeholder {color:#fd9d9a;}
    .error ::-moz-placeholder          {color:#fd9d9a;}/* Firefox 19+ */
    .error :-moz-placeholder           {color:#fd9d9a;}/* Firefox 18- */
    .error :-ms-input-placeholder      {color:#fd9d9a;}

    ::-webkit-input-placeholder {color:#EAEAEA;}
    ::-moz-placeholder          {color:#EAEAEA;}/* Firefox 19+ */
    :-moz-placeholder           {color:#EAEAEA;}/* Firefox 18- */
    :-ms-input-placeholder      {color:#EAEAEA;}

    input, textarea {
        border-radius: 2px;
    }

    .form-control {
        box-shadow: 0px 0px 4px 0px transparent;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
    }

    .form-control:focus {
        -webkit-box-shadow: 0px 0px 4px 0px $active-color;
        -moz-box-shadow: 0px 0px 4px 0px $active-color;
        box-shadow: 0px 0px 4px 0px $active-color;
        border-color: #eaeaea;
    }

    .error .form-control {
        border-color: #fd9d9a;
        margin-bottom: 6px;
    }

    .error input, textarea {
        color: #fd9d9a;
    }

    .form-group span {
        display: none;
    }

    .error.form-group .file_upload {
        margin-bottom: 6px;
    }

    .error span {
        color: #fd9d9a;
        display: block;
        font-size: $small-text-size;
    }
    .item {
        .title {
            font-size: 22px;
            color: #5d5d5d;
        }
        .meta {
            font-size: $big-text-size;
            color: $text-color;
        }
    }
    .small-padded.block {
        padding: 27px 23px;
        margin-right: 0;
        margin-left: 0;
    }
    .no-padding div {
        padding: 0;
    }
    .default.nav-tabs {
        border: none;
    }

    .default.nav-tabs>li>a {
        color: $text-color;
        border: none;
        padding: 5px 20px;
        border-radius: 2px;
        font-size: $small-text-size;
    }

    .default.nav-tabs>li.active>a, .default.nav-tabs>li.active>a:focus, .default.nav-tabs>li.active>a:hover, .default.nav>li>a:hover {
        background-color: #dedede;
        padding: 5px 20px;
        border: none;
        font-size: $small-text-size;
    }

    h3 {
        font-size: $text-size;
        color: #989898;
    }

    .float-left {
        float: left;
    }

    .checkboxes label, .checkboxes .checkbox-inline+.checkbox-inline {
        margin-left: 50px;
    }

    .text-blue {
        color: $active-color;
    }

    .text-red {
        color: #d0021b;
    }
    .aligned-middle {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }

    .popover.top {
        border: none;
        border-radius: 2px;
        box-shadow: 0 7px $small-text-size rgba(0,0,0, 0.12);
    }

    .popover.top>.arrow {
        border: none;
        bottom: -10px;
    }

    .popover-content {
        padding: 11px 24px;
        color: #5d5d5d;
        font-size: $text-size;
        line-height: 22px;
    }

    .mg-l {
        margin-left: 44px;
    }

    .graphic {
        text-align: right;
        margin-bottom: 15px;
        img {
            width: 100%;
            padding-left: 32px;
            height: auto;
            margin-bottom: 13px;
        }
    }

    @media (min-width: 768px) {

    }

    @media (min-width: 992px) {

    }

    @media (min-width: 1200px) {

    }
}