<template name = "viewLog">
		<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Данные из лога</h4>
				</div>

				<div class="modal-body">
					{{#each log}}
						{{text}} <br>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</template>